/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-abr-2014, 10:52:06
    Author     : Carlos
*/

.pistas { 
    font-size: 7pt; 
    margin-left:155px; 
} 
