/* 
    Document   : style
    Created on : 04-mar-2012, 2:37:49
    Author     : antares
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*td{
    border: solid 1px black;
}*/
